body {
    background-color: #ffffff;
}

#calling-card {
    margin-top: 120px;
    padding-top: 32px;
    margin-bottom: 0px;
}

#photo {
    margin-top: 120px;
    width: 445px;
    height: 334px;
    color: rgb(233, 236, 239);
}

#upload-form {
    margin-bottom: 1rem;
}

#camera-button {
    margin-top: 10px;
}

#face-error {
		display: none;
}
