{% extends "base.html" %}

{% block content %}

<div class="row h-100">
  <div class="col-lg-7 my-auto">
    <div class="jumbotron" id="calling-card">
      <h1>DoppelGallery</h1>
      <p>Search through thousands of classical paintings for people that look just like you.</p>
      <a href="javascript:void(take_snapshot())">Take a Snapshot.</a>
      Or, upload a photo instead:

      <form enctype="multipart/form-data" action="/upload" method="post" id="upload-form">
          <input type="file" name="photo" id="upload-input" accept="image/*" />
      </form>
    </div>
  </div>
  <div class="col-lg-5 my-auto">
    <div id="photo"></div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.22/webcam.min.js"></script>
<script type="text/javascript" src="{{ static_url('photo.js') }}"></script>

{% end %}
