{% extends "base.html" %}

{% block content %}

<div class="row">
	  <div class="alert alert-danger" role="alert" id="face-error">
	    <strong>We couldn't find your face... Maybe the room was too dark? Please take another picture!</strong>
	  </div>
  <div class="col-lg-7 col-centered">
    <div class="jumbotron" id="calling-card">
        <h1>Doppel<b><i>Gallery</i></b></h1>
      <p><b>Search through thousands of classical paintings for someone that looks just like you!</b> Make sure that:</p>
      <ul>
          <li>You're not wearing glasses.</li>
          <li>Your picture is clear and has good lighting.</li>
          <li>You look like you're posing for a painting.</li>
      </ul>
      <p>When you're ready, click the <i class="fa fa-camera" aria-hidden="true"></i> ! Or, upload a photo:</p>
      <form enctype="multipart/form-data" action="/upload" method="post" id="upload-form">
          <input type="file" name="photo" id="upload-input" accept="image/*" />
      </form>
      <!--<p>If you're just not up for a picture, try one of our examples instead:</p>
      <a href="~/doppelganger/images/Alfred_Sant_0001.jpg"><img src="~/doppelganger/images/Alfred_Sant_0001.jpg"></img></a>-->
    </div>
  </div>
  <div class="col-lg-5">
    <div id="photo"></div>
    <button id="camera-button" type="button" class="btn btn-info btn-lg btn-block"><i class="fa fa-camera" aria-hidden="true"></i></button>
    <!--<a href="javascript:void(take_snapshot())">Take a Snapshot.</a>-->
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.22/webcam.min.js"></script>
<script type="text/javascript" src="{{ static_url('photo.js') }}"></script>

{% end %}
